.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/3.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-group-1 {
  width: 437px;
  min-height: 382px;
  background-image: linear-gradient(#2cccc4, #95ff8c);
  height: auto;
  margin: 235px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  margin: 9px 0 0;
}

.u-section-1 .u-form-1 {
  height: 242px;
  margin: 15px auto 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: -46px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-group-1 {
    width: 407px;
    margin-top: 205px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -51px;
    padding: 12px 31px 13px 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-group-1 {
    width: 642px;
    margin-top: 116px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-form-1 {
    width: 582px;
    margin-top: 22px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 132px;
    min-height: 295px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 10px 10px 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -51px;
    margin-right: 1px;
    margin-bottom: -6px;
    padding-right: 33px;
    padding-left: 31px;
  }
}